*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color:#fff;
  height:100vh;
  width:100%;
  margin-top:5px;
}

.nav{
  height:15vh;
  max-width:100%;
  margin:0 3rem;
  display:flex;
  flex-direction:row;
  background:black;
  color:#fff;
  justify-content:space-between;
  align-items:center;
}

.logo h3{
  color:#fff;
  font-size:1.8rem;
  font-weight:bold;
  border:3px solid #fff;
  border-radius:8px;
  padding:5px;
  margin-left:20px;
  cursor:pointer;
}

.logo h3:hover{
  color:#111;
  background:#fff;
}

.nav .navigation ul{
  display:flex;
  flex-direction:row;
}

.nav .navigation ul li{
  list-style:none;
  padding:1rem;
}

.nav .navigation ul li a{
  text-decoration:none;
  transition:all 1s ease-out;
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
}

.nav .navigation ul li a:hover{
  color:#111;
  background:#fff;
  padding:5px;
  border-radius:5px;
}

.hero{
  background:red;
  height:40vh;
  max-width:100%;
  margin:0 3rem;
  margin-top:3px;
}